h1{
    font-size: 2em;
}

.card {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}

/* custom.css */

.user-photo {
    background-color: #fff;        /* fundo branco */
    border: 1px solid #e0e0e0;     /* borda cinza clara */
    border-radius: 50%;            /* mantém a imagem circular */
    width: 32px;
    height: 32px;
    object-fit: cover;             /* garante que a foto preencha o círculo */
    display: inline-block;
  }
  